<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>global terrorism 1970-2015</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/css/awesomplete.css' %}">
    <style>
        body {
            font-size: 100%;
        }

        html, body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif;
        }

        li {
            list-style-type: none;
            cursor: pointer;
        }

        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        svg {
            background-color: #DCDCDC;
        }

        path.chord {
            fill-opacity: .40;
        }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world-palestine-lowres.js"></script>
    <script>
        $(function () {
            var where_option = $('#where_option');
            var who_option = $('#who_option');
            var tactics_option = $('#tactics_option');
            var targets_option = $('#targets_option');
            var sections = $('.section');

            var toggleDropdown = function () {
                var optDropdown = $('#optionsDropdwon');
                if (!optDropdown.hasClass('w3-show')) {
                    optDropdown.addClass('w3-show');
                } else {
                    optDropdown.removeClass('w3-show');
                }
            };

            $('#optDropdownBtn').click(toggleDropdown);

            where_option.click(function () {
                var button = $('#optDropdownBtn');
                button.html($(this).html());
                toggleDropdown();
            });

            who_option.click(function () {
                var button = $('#optDropdownBtn');
                button.html($(this).html());
                toggleDropdown();
            });

            tactics_option.click(function () {
                var button = $('#optDropdownBtn');
                button.html($(this).html());
                toggleDropdown();
            });

            targets_option.click(function () {
                var button = $('#optDropdownBtn');
                button.html($(this).html());
                toggleDropdown();
            });

            where_option.click(function () {
                sections.hide();
                $('#terror_location').show();
            });

            who_option.click(function () {
                sections.hide();
                $('#terror_group').show();
            });

            tactics_option.click(function () {
                sections.hide();
                $('#tactics').show();
            });

            targets_option.click(function () {
                sections.hide();
                $('#targets').show();
            });

            function changeSection(section) {
            console.log("triggered");
            sections.hide();
            $('#' + section).show();
        }
        });
    </script>
    <script src="{% static 'dashboard/js/wordcloud2.js' %}"></script>
    <script src="{% static 'dashboard/js/wheresection.js' %}"></script>
    <script src="{% static 'dashboard/js/awesomplete.js' %}"></script>
    <script src="{% static 'dashboard/js/terrorGroups.js' %}"></script>
    <script src="{% static 'dashboard/js/terrorgroupsection.js' %}"></script>
    <script src="{% static 'dashboard/js/d3/d3.v2.js' %}"></script>
    <script src="{% static 'dashboard/js/tacticssection.js' %}"></script>
    <!--<script src="{% static 'dashboard/js/terrorgroupmap.js' %}"></script>-->
    <!--<script src="{% static 'dashboard/js/topterrorgroups.js' %}"></script>-->
    <!--<script src="{% static 'dashboard/js/terrormotives.js' %}"></script>-->
</head>

<body style="background-color: #DCDCDC; height: 700px">
<!-- Top container -->
<div class="w3-container w3-large w3-text-white w3-padding" style="z-index:4; background-color: #2b446d">
    <h1>Global Terrorism 1970-2015</h1>
</div>

<!--dropdown toolbar-->
<div class="w3-container w3-large w3-grey w3-padding">
    <div class="w3-dropdown-click" style="width: 15%; margin: auto; display: block;">
        <button id="optDropdownBtn" class="w3-btn w3-blue w3-padding-12" style="width: 100%"><i class="fa fa-globe"></i>
            where
        </button>
        <ul id="optionsDropdwon" class="w3-ul w3-hoverable w3-dropdown-content w3-border"
            style="width: 100%;z-index: 4">
            <li id="where_option" class="w3-text-grey w3-padding-16"><i class="fa fa-globe"></i> where</li>
            <li id="who_option" class="w3-text-grey w3-padding-16"><i class="fa fa-group"></i> who</li>
            <li id="tactics_option" class="w3-text-grey w3-padding-16"><i class="fa fa-bomb"></i> tactics</li>
            <li id="targets_option" class="w3-text-grey w3-padding-16"><i class="fa fa-university"></i> targets</li>
        </ul>
    </div>
</div>

<!-- !PAGE CONTENT! -->
<div id="terror_location" class="section" style="height: 100%; display: block;">
    <div id="attacks_map" class="w3-padding-16" style="height: 360px; width: 40%; margin: auto; display: block;"></div>
    <div id="columChartSpecificCountry" class="w3-animate-top w3-padding-16"
         style="height: 240px; width: 40%; margin: auto; display: none;"></div>
    <div id="YearColumn" class="w3-padding-16" style="height: 240px; width: 40%; margin: auto; display: block;"></div>
    <div style="width: 15%; margin: auto;">
        <button id='overview' class="w3-btn w3-blue w3-padding-12" style="width: 100%"><i class="fa fa-globe"></i>
            overview
        </button>
    </div>
</div>

<div id="terror_group" class="section" style="height: 50%; display: none;">
    <div class="w3-container w3-large w3-padding-4" style="width: 20%; margin: auto;">
        <form id="filter_form" action="{% url 'dashboard:terror_group_info' %}" method="post">
            {% csrf_token %}
            <!--<label>Terror Group:</label><br>-->
            <input id="g_name" type="text" name="group_of_interest"><br>
            <!--<input type="submit" value="apply">-->
        </form>
    </div>
    <!--<div id="top_terror_groups" style="height: 50%; width: 40%; margin: auto; display: block;">-->
    <!--</div>-->
    <div id="cloud_container" style="width: 60%; height: 90%; margin: auto">
        <canvas id="keywordscloud"></canvas>
    </div>
    <!--<div class="w3-row" style="height: 40%">-->
    <!--<div id="terror_group_map" class="w3-container w3-half w3-border"></div>-->
    <!--<div id="terror_motives" class="w3-container w3-half w3-border"></div>-->
    <!--</div>-->
</div>

<div id="tactics" class="section" style="height: 900px; display: none">
    <div class="w3-row" style="height: 100%;">
        <div id="chart" class="w3-half" style="height: 80%;"></div>
        <div id="attack_correlation_matrix" class="w3-half" style="height: 80%; margin-top: 5%"></div>
    </div>
</div>

<div id="targets" class="section" style="height: 700px; display: none">
    <div id="targets_map" class="w3-padding-16" style="height: 360px; width: 40%; margin: auto"></div>
    <div id="targets_chart" class="w3-padding-16" style="height: 240px; width: 40%; margin: auto"></div>
</div>
<!-- End page content -->
</body>
</html>