<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>global terrorrism 1970-2015</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    li{
    list-style-type: none;
    cursor: pointer;
    }
    input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    input[type=submit]:hover {
    background-color: #45a049;
    }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/maps/modules/map.js"></script>
    <!-- <script src="https://code.highcharts.com/maps/modules/exporting.js"></script> -->
    <script src="https://code.highcharts.com/mapdata/custom/world-palestine-lowres.js"></script>
    <script>
    $(function() {
      var toggleDropdown = function() {
        var optDropdown = $('#optionsDropdwon');
        if (!optDropdown.hasClass('w3-show')) {
          optDropdown.addClass('w3-show');
        } else {
          optDropdown.removeClass('w3-show');
        }
      };
      $('#optDropdownBtn').click(toggleDropdown);
      $('#where_option').click(function() {
        var button = $('#optDropdownBtn');
        button.html($(this).html());
        toggleDropdown();
      });
      $('#who_option').click(function() {
        var button = $('#optDropdownBtn');
        button.html($(this).html());
        toggleDropdown();
      });
      $('#tactics_option').click(function() {
        var button = $('#optDropdownBtn');
        button.html($(this).html());
        toggleDropdown();
      });
      $('#targets_option').click(function() {
        var button = $('#optDropdownBtn');
        button.html($(this).html());
        toggleDropdown();
      });

      $('#group_filter').click(function() {
        var filter = $('#filter_form');
        if (!filter.hasClass('w3-show')) {
          filter.addClass('w3-show');
        } else {
          filter.removeClass('w3-show');
        }
      });
      $('#where_option').click(function() {
        $('.section').css('display', 'none');
        $('#terror_location').css('display', 'block');
        console.log($('#terror_location').css('display'))
      });
      $('#who_option').click(function() {
        $('.section').css('display', 'none');
        $('#terror_group').css('display', 'block');
        console.log($('#terror_group').css('display'))
      });
    });

    function changeSection(section) {
      console.log("triggered");
      $('.section').hide();
      $('#' + section).show();
    }
    </script>
    <script src="{% static 'dashboard/js/loadMap.js' %}"></script>
    <script src="{% static 'dashboard/js/YearColumn.js' %}"></script>
    <script src="{% static 'dashboard/js/terrorgroupmap.js' %}"></script>
    <script src="{% static 'dashboard/js/topterrorgroups.js' %}"></script>
    <script src="{% static 'dashboard/js/terrormotives.js' %}"></script>
  </head>
  
  <body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-container w3-large w3-text-white w3-padding" style="z-index:4;background-color: #2b446d">
      <h1>Global Terrorism 1970-2015</h1>
    </div>

    <!--dropdown toolbar-->
    <div class="w3-container w3-large w3-grey w3-padding">
      <div class="w3-dropdown-click" style="width: 15%; margin: auto; display: block;">
        <button id="optDropdownBtn" class="w3-btn w3-blue w3-padding-12" style="width: 100%"><i class="fa fa-globe"></i> where</button>
        <ul id="optionsDropdwon" class="w3-ul w3-hoverable w3-dropdown-content w3-border" style="width: 100%;z-index: 4">
          <li id="where_option" href="" class="w3-text-grey w3-padding-16"><i class="fa fa-globe"></i> where</li>
          <li id="who_option" href="" class="w3-text-grey w3-padding-16"><i class="fa fa-group"></i> who</li>
          <li id="tactics_option" href="" class="w3-text-grey w3-padding-16"><i class="fa fa-bomb"></i> tactics</li>
          <li id="targets_option" href="" class="w3-text-grey w3-padding-16"><i class="fa fa-university"></i> targets</li>
        </ul>
      </div>
    </div>

    <!-- !PAGE CONTENT! -->
    <div id="terror_location" class="section" style="height: 900px; display: block;" >
      <div id="Map" class="w3-border" style="height: 40%; width: 40%; margin: auto; display: block;"></div>
      <div id="YearColumn" class="w3-border" style="height: 40%; width: 40%; margin: auto; display: block;"></div>
    </div>
    
    <div id="terror_group" class="section" style="height: 900px; display: none;">
      <div class="w3-container w3-large w3-padding-4" style="width: 25%; margin: auto;">
        <button id="group_filter" class="w3-btn-block w3-blue">Filter</button>
        <form id="filter_form" class="w3-hide">
          <label>Terror Group:</label> <br>
          <input type="text" list="terror_groups_list" name="group_of_interest"><br>
            <datalist id="terror_groups_list">
            <option value="ISIS">
            <option value="Taliban">
            <option value="Maoist">
            <option value="AAA">
            <option value="BBB">
          </datalist>
          <label>Start Year:</label> <br>
          <input type="text" name="time_of_interest_start" value="start year"><br>
          <label>End Year:</label> <br>
          <input type="text" name="time_of_interest_end" value="end year">
          <input type="submit" value="apply">
        </form>
      </div>
      <div id="top_terror_groups" style="height: 50%; width: 40%; margin: auto; display: block;">
      </div>
      <div class="w3-row" style="height: 40%">
        <div id="terror_group_map" class="w3-container w3-half w3-border"></div>
        <div id="terror_motives" class="w3-container w3-half w3-border"></div>
      </div>
    </div>
    <!-- End page content -->
  </body>
</html>